body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    background-color: rgba(20, 58, 119, 0.8);
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    color: rgba(20, 58, 119, 0.8);
    transition-property: color, background-color, padding-left, text-shadow;
    transition-duration: 1.6s, 1.8s, 1.55s, 1.4s;
}

#main h1 span {
    font-style:italic;
    background-color: rgba(20, 58, 119, 0.8);
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

#roomSelect {
  float: left;
}

#roomHead {
  float: left;
  margin-right: 6px;
  margin-left: 12px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  width: 97%;
  background-color: rgba(37, 91, 178, 0.9);
  border: 1.99px solid rgba(51, 106, 196, 0.7);
  border-radius: 5.9px 18px 14px;
  color: white;
  box-shadow: 10px 8px 18px rgba(168, 191, 255, 0.7);

  -webkit-animation-name: spawn;
  -webkit-animation-duration: 1s;
  transition-property: color, background-color, padding-top, padding-bottom, padding-left, padding-right, margin-left, margin-top, margin-bottom;
  transition-duration: 0.28s, 0.4s, 0.32s, 0.32s, 0.32s, 0.32s, 0.32s, 0.25s, 0.25s;
}

.even {
  background-color: rgba(29, 105, 226, 0.9);
  border-color: background-color: rgba(29, 105, 226, 0.7);
}

.username {
  float: left;
  margin-right: 5px;
}

.timePosted {
  float: left;
  width: 83%;
}

.postTxt {
  margin-left: 20px;
}
